* {
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    padding: 22px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 32px;
    margin-top: 14px;
    display: inline-block;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_item {
    margin-left: 32px;
    margin-top: 11px
}

.nav__item {
    margin-top: 11px;
}

.nav_link {
    display: inline-block;
    color: #1B1A1A;
    font-size: 15px;
    text-decoration: none;
}

.nav-item {
    margin-left: 31px;
}

.nav__link {
    padding: 11px 20px;
    display: inline-block;
    background-color: #1B1A1A;
    color: #FFFFFF;
    border-radius: 14px;
    font-size: 16px;
    text-decoration: none;
}

.section_main_page {
    padding-top: 137px;
    padding-bottom: 128px;
    background-color: #ECE7E4;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url("../images/background_wishbone.jpg");
}

.section_main_page_box {
    max-width: 1240px;
    margin: auto;
}

.section_main_page_left {
    max-width: 509px;
}

h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.subject {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
    margin-bottom: 18px;
}

.desc {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 41px;
}

.link {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1A1A;
    text-decoration: none;
}

.section_main_page_link {
    margin-left: 25px;
}

.section_get_in_touch {
    background-color: #CEC4BC;
    padding-top: 100px;
    padding-bottom: 118px;
}

.box {
    max-width: 1168px;
    margin: auto;
}

.section_get_in_touch_box {
    max-width: 569px;
}

h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}

.section_get_in_touch_link {
    margin-top: 45px;
}

.what_we_do{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E5E5;

}
.what_we_do_container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.what_we_do h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.what_we_do h2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
    margin-bottom: 47px;
}
.content_box{
    max-width: 294px;
    margin: auto;
}
.content_box img{
    display: block;
    max-width: 117px;
    max-height: 102px;
    margin: auto;
}
.content_box h5{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
    margin-top: 15px;
    margin-bottom: 10px;
}
.content_box p:first-of-type{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}
.content_box p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}

footer {
    background-color: #F7F7F7;
    padding-top: 62px;
    padding-bottom: 60px;
}

.footer_logo {
    margin-bottom: 20px
}

.footer_title {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
"
}

.socials {
    display: flex;
    list-style: none;
}

.socials_tw {
    margin-top: 60px;
}

.socials_ig {
    margin-left: 20px;
    margin-top: 58px;
}

.socials_fb {
    margin-left: 26px;
    margin-top: 58px;
}

.socials_link {
    display: inline-block
}
.owl-stage{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.owl-carousel button.owl-dot span{
    display: inline-flex;
    height: 12px;
    width: 12px;
    background-color: #645C55;
    border-radius: 50%;
    margin: 0 5px;
}
.owl-carousel button.owl-dot.active span {
    background-color: #403E3B;
    width: 14px;
    height: 14px;
}
button.owl-dot {
    text-align: center;
}
.dialog_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-widget input{
    background-color: #FFFFFF;
    border-radius: 7px;
    border-color: #1B1A1A;
    width: 210px;
    height: 30px;
    margin-bottom: 8px;
    outline: none;
}
#dialog p{
    font: 17px/20px 'Arial';
    font-style: oblique;
    margin-bottom: 8px;
    text-align: center;
}
.ui-widget button{
    display: block;
    background-color: #1B1A1A;
    color: #FFFFFF;
    width: 70px;
    height: 30px;
    margin: auto;
    border-radius: 8px;
}
.ui-widget.ui-widget-content {
    border: 3px solid #1b1a1a;
}

.ui-dialog .ui-dialog-content{
    background-color: #FFFFFF;
}
.ui-dialog-title{
    text-align: center;
}
.ui-draggable .ui-dialog-titlebar {
    cursor: default;
}
.ui-widget-header{
    background-color: #ECE7E4;
}
.ui-corner-all{
    border: #1B1A1A;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

